<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application android:allowBackup="true" android:label="@string/app_name">
        <receiver android:name="com.oro.scheduler.scheduling.SchedulingAlarmReceiver"></receiver>

        <receiver android:name="com.oro.scheduler.scheduling.SchedulingBootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>

    </application>

</manifest>
